.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    padding: 30px;
    border-radius: 10px;
}


@media (max-width: 600px) {
    .container {
       height: 100vh;
       margin: 0;
       border-radius: 0;
       border:none;
    }
}