.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.icon-google {
    z-index: 9;
    margin-top: 5px;
}
@media(max-width: 600px){
    .login {
        height: 80vh;
        padding-top: 0;
    }
}